#img{
  max-width: 150%;
  max-height: 150%;
  min-width: 300px;
  min-height: 200px;
}


.container{

	display: grid;
	width:70%;
	height:70%;
	border: 1px solid black;
	grid-template-columns: 20% 20% ;
	gap: 180px;
  
  padding:0 0% 0% 30%;

 
}
.search{
  width: 200px;
  height: 40px;
  margin-left:40%
}
