.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  max-width: 150%;
  max-height: 150%;
  min-width: 300px;
  min-height: 200px;
}


.container{

	display: grid;
	width:70%;
	height:70%;
	border: 1px solid black;
	grid-template-columns: 20% 20% ;
	gap: 180px;
  
  padding:0 0% 0% 30%;

 
}
.search{
  width: 200px;
  height: 40px;
  margin-left:40%
}

